* {
    margin: 0; 
    padding: 0;
    background-color:#fbf5f1  ; /* background-Color for entire web*/
    color: #a82e4c;/* Color for entire Bold text and button  */

}
header {
    background-color: #f78da7;
    color: #a72c4a;
    text-align: center;
    height: 73px;
    padding: 20;
    
    
}
h1{
    padding: 20px;
    color: #a72c4a;
}

.left h2 {
   
    color: #a72c4a;
    font-family: josefin sans,sans-serif;
    font-size: 45px;
    line-height: 55px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -1.2px;
    text-transform: none;
    text-align: center;
    
}
.left h3 {
   
    color: #a72c4a;
    font-family: josefin sans,sans-serif;
    font-size: 25px;
    line-height: 55px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -1.2px;
    text-transform: none;
    text-align: left;
    padding: 10px;
    padding-top: 20px;
}
.left h4 {
   
    color: #7c7b7c;
    font-family: josefin sans,sans-serif;
    font-size: 20px;
    line-height: 55px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -1.2px;
    text-align: justify;
    padding-top: 5px;
}

h3{
    color: #7c7b7c;
    padding-bottom: 10px;
}
h4{
    color: black;
    text-align: center;
}
.meet{
    display: inline-block;
  
}
.lft img{
    align-items: center;
    text-align: center;
    padding-left: 30px;
}
.rght{
float: right;
}
header img{
    width: 250px;
    height: auto;
    margin-left: 0;
    float: left;
    padding-left: 5px;
    padding-top: 15px;

  
}
  
nav ul {
/*     background-color: #444; */
    text-align: center;
    padding: 10px;

}
   
nav li {
    display: inline;
    margin: 0 10px;
    
}
.menu ul li a{
    text-align: center;
   
}    
.menu a{
    text-decoration: none;
    color: #7c7b7c;
    font-size: 30px;
    margin-top: 173px;
    margin-left: 126px;
  
  
 
}
.menu a:hover{ 
    color: #a72c4a;
}
.menu h2{
    margin-top: 173px;
    margin-left: 126px;
}
    
aside {
        
    width: 25%;
   /*  height: 690px; */
   height: auto;
/*     background-color: #444; */
    
    float: left;
    padding: 10px;

       
}
aside li,h2{
  
    padding: 20px;
    font-size: 30px;
}
aside  li:hover{ 
    color: red;
}
main .main-raight {
   
 /*    height: 640px; */
    height: auto;
    background-color: #f0f0f0; 
    border: 1px solid #ddd;
    background-size: cover;
    background-image: url('/image/pray-stance.png');
    background-repeat: no-repeat;
    background-size: 20% 100%;
    opacity: 0.8;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 10px;

}
main .left {
    width:70%;
  /*   height: 640px; */
  height: auto;
    border: 1px solid #ddd;
    background-size: cover;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 20px;
}



#text_one {
    text-align: center;
    font-weight: bold;
    color: #d1909d;
    font-size: 29px;
    margin-left: 10px;
    margin-top: 15px;
    padding-bottom: 30px;
}
       
#text_two {
   color: #d1909d; 
   font-size: 29px;
    font-weight: bold;
    margin-left: 10px;
    padding: 20px;
}
.contact a {
    font-size: 29px;
    font-weight: bold;
    margin-left: 10px;
    text-decoration: none;
}
       
#image_test{
    width: 150px;
    margin-bottom: 15px;
    margin-left: 10px;
    opacity: 1;  
    
}
video{
    margin-left: 220px;
}       
footer {
    height: 80px;
    background-color: #c67486;
    color: #fff;
    text-align: center;
    clear: both;
    padding: 10px;
    font-size: 30px;
}
        